version: "3.9"
services:
  localsecret-1:
    container_name: localsecret-1
    # ports are only here in case interaction 
    # between localhost and container is desired
    ports:
      - "26657:26657"
      - "26656:26656"
      - "9090:9090"
      - "9091:9091"
      - "1337:1337"
      - "1317:1317"
    image: "ghcr.io/scrtlabs/localsecret:v1.9.0-random"
    environment:
        LOG_LEVEL: "trace"
  localsecret-2:
    container_name: localsecret-2
    # ports are only here in case interaction 
    # between localhost and container is desired
    ports: 
      - "36657:26657"
      - "36656:26656"
      - "9391:9091"
      - "9390:9090"
      - "3337:1337"
      - "3317:1317"
    environment:
        CHAINID: "secretdev-2"
        LOG_LEVEL: "trace"
    image: "ghcr.io/scrtlabs/localsecret:v1.9.0-random"
#  relayer:
#    container_name: hermes-relayer
#    image: "hermes:test"
  contract-uploader:
    container_name: uploader
    image: "ghcr.io/scrtlabs/random-proxy-contract-uploader:v1.0.0"
    depends_on:
      - localsecret-1
      - localsecret-2
      # - relayer

  random-proxy-tester:
    container_name: proxy
    image: "ghcr.io/scrtlabs/random-proxy-tester:v1.0.0"
