<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Contract Query</title>
</head>
<body>
<div id="content" style="display: none;">
    <h1>Latest Random Value</h1>
    <p></p>
    <h2>Block Height</h2>
    <p></p>
    <h3>Time Elapsed</h3>
    <p id="time-elapsed">0.0s</p>
    <button id="update-random-btn">Update Random Value</button>
</div>
<div id="initializing">
    <p>Initializing random value...</p>
</div>
<div id="loader" style="display: none;"></div>
<script>
    async function fetchData() {
        const response = await fetch("/update-random");
        const json = await response.json();
        return json;
    }

    async function refresh() {
        const response = await fetch("/refresh");
        const json = await response.json();
        return json;
    }

    const updateRandomBtn = document.getElementById("update-random-btn");
    const loader = document.getElementById("loader");
    const timeElapsedDisplay = document.getElementById("time-elapsed");

    async function loadInitialData() {
        loader.style.display = "block";
        const json = await refresh();
        if (json.random_value && json.block_height) {
            document.querySelector("#content p").innerText = json.random_value;
            document.querySelectorAll("#content p")[1].innerText = json.block_height;
            document.getElementById("initializing").style.display = "none";
            document.getElementById("content").style.display = "block";
            loader.style.display = "none";
        } else {
            loader.style.display = "none";
            alert(`Error: ${json.error}`);
        }
    }

    updateRandomBtn.addEventListener("click", async () => {
        updateRandomBtn.disabled = true;
        loader.style.display = "block";
        const startTime = performance.now();

        const json = await fetchData();
        if (json.random_value && json.block_height) {
            document.querySelector("#content p").innerText = json.random_value;
            document.querySelectorAll("#content p")[1].innerText = json.block_height;

            const endTime = performance.now();
            const timeElapsed = (endTime - startTime) / 1000;
            timeElapsedDisplay.innerText = `${timeElapsed.toFixed(1)}s`;
        } else {
            alert(`Error: ${json.error}`);
        }

        loader.style.display = "none";
        updateRandomBtn.disabled = false;
    });

    loadInitialData();
</script>
</body>
</html>
